<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
        <form action="/agregaRutina">
            <fieldset>
                <legend>
                    Agregar nuevo ejercicio
                </legend>
                <div class="input-container">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre">
                </div>
                <div class="input-container">
                    <label for="descanso">Series:</label>
                    <input type="number" name="series" id="series">
                </div>
                <div class="input-container">
                    <label for="repeticiones">Repeticiones:</label>
                    <input type="number" name="repeticiones" id="repeticiones">
                </div>
                <div class="input-container">
                    <label for="descanso">Descanso:</label>
                    <input type="number" name="descanso" id="descanso">
                </div>
                <button type="submit">Agregar</button>
            </fieldset>
        </form>
    </div>

    <!--Registro de rutinas-->
    <div>
        <h1>
            Registro de rutinas
        </h1>
        <div class="rutinas">

        </div>
    </div>

</body>
</html>